// Reset defaults
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: black;
    }
}

:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

// variables
$primary: #7db660;

// importing font
@font-face {
    font-family: Rubik;
    src: url("./../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: Myriad;
    src: url("./../fonts/myriad-pro-cufonfonts/MyriadPro-Light.otf");
}

@font-face {
    font-family: Alex;
    src: url("./../fonts/Alex_Brush/AlexBrush-Regular.ttf");
}

header {
    height: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);

    .logo {
        margin-left: 50px;
        img {
            height: 50px;
        }
    }

    nav {
        margin-left: auto;
        margin-right: 80px;
        font-family: Myriad;
        font-size: 1em;
        ul {
            list-style: none;
            display: flex;
            line-height: 50px;
            li {
                margin-left: 40px;
                &.rsvp a {
                    background: $primary;
                    padding: 8px 20px;
                    border-radius: 5px;
                    color: white !important;
                    padding-top: 10px;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.scrollmagic-pin-spacer {
    z-index: -4;
}

.backgroud {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
    opacity: 0.1;
    transform: scale(1.1);
}

.main-content {
    padding-top: 150px;
    height: 100vh;
    z-index: 1px;

    div {
        width: fit-content;
        margin: 0 auto;
    }

    .button {
        border: 2px solid white;
        margin-top: 20px;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: Myriad;
        text-decoration: none;
        color: white;
        font-size: 1.2em;

        &:hover {
            background: rgb(125, 182, 96);
            background: radial-gradient(circle, rgba(125, 182, 96, 1) 0%, rgba(121, 171, 95, 1) 100%);
            border: 2px solid $primary;
        }
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(83, 83, 83);
    -webkit-font-smoothing: antialiased;


    small {
        margin: 20px auto;
        border-bottom: 2px solid rgb(133, 131, 131);
        font-size: 0.9em;
        font-family: Myriad;
        padding-bottom: 2px;
    }

    h2 {
        font-size: 3.6em;
        font-family: Alex;
        font-weight: 200;
        text-align: center;
    }

    p {
        margin-top: 20px;
        letter-spacing: 1px;
        text-align: center;
        font-size: 1.62em;
        font-family: Myriad;
        font-weight: 200;

        strong {
            font-weight: 700;
        }
    }
}

section.greet {
    opacity: 1;
    margin-left: 350px;
    margin-right: 350px;
}

section.about {
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.11248249299719892) 78%);
    p{
        margin-left: 350px;
        margin-right: 350px;
    }
    img {
        position: absolute;
        bottom: 0px;
        opacity: 0;
        width: 300px;
        height: 400px;

        &.left-image {
            left: 0px;
            transform: translateX(-200px);
        }

        &.right-image {
            right: 0px;
            transform: translateX(200px);
        }
    }

    p {
        line-height: 1.4;
    }
}

section.party {
    background: #fafafa;

    .slider {
        margin-top: 60px;
        .slide {
            text-align: center;
            position: relative;
            z-index: 0;

            h3 {
                padding: 10px;
            }

            p {
                margin: 0 auto;
                font-size: 1em;
            }
        }
    }

    .owl-nav {
        z-index: 1;
        font-size: 2.5em;
        color: white;
        button {
            position: absolute;
            top: 50%;
            text-shadow: 2px 1px 15px rgba(0, 0, 0, 0.2);
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }
}

section.instagram {
    margin-top: 100px;
    border-bottom: 1px solid rgb(226, 225, 225);
    .insta-image {
        margin-top: auto;
        height: 400px;
        width: 350px;
    }
}

section.venue {
    margin: 100px 220px;

    .schedule {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        .box {
            display: grid;
            grid-template-columns: 100px auto;

            .icon {
                border: 1px solid black;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 40px;
                }
                i {
                    color: black;
                    font-size: 2em;
                }
            }
            .content {
                h3 {
                    font-family: Myriad;
                    font-size: 1.8em;
                    margin-bottom: 12px;
                }

                p {
                    text-align: left;
                    margin: 0px;
                    font-size: 1.5em;
                }
            }
        }
    }
}

section.registry {
    display: grid;
    grid-template-columns: 40% auto;
    width: 100%;
    justify-content: normal;
    align-items: normal;
    margin: 0px;

    h2 {
        margin: 10px auto;
    }

    .left-section {
        padding-top: 200px;
        padding-left: 100px;
        p {
            margin: 0px;
            text-align: left;
        }
    }

    .right-section {
        text-align: right;
        img {
            width: fit-content;
        }
    }
}

section.rsvp {
    .content {
        text-align: center;

        h2 {
            margin: 20px auto;
        }
    }

    .button {
        border: 1px solid black;
        width: 180px;
        height: 40px;
        font-size: 1.3em;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        margin-top: 40px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            border: 1px solid $primary;
            color: $primary;
        }

        &.active {
            border: 1px solid $primary;
            background-color: $primary;
            color: white;
        }
    }
}

section.gallery {
    width: 100%;
    margin: 0px;
    .slider {
        .slide {
            text-align: center;
            position: relative;
            z-index: 0;

            img {
                height: 600px;
            }
        }
    }

    .owl-nav {
        z-index: 1;
        font-size: 2.5em;
        color: white;
        button {
            position: absolute;
            top: 50%;
            text-shadow: 2px 1px 15px rgba(0, 0, 0, 0.2);
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }
}

section.comments {
    margin: auto 200px;
    h3 {
        font-size: 1.5em;
    }
}

footer {
    border-top: 1px solid rgb(224, 224, 224);
    position: relative;
    height: 150px;
    line-height: 150px;
    text-align: center;

    a .icon {
        border: 1px solid rgb(224, 224, 224);
        border-radius: 100%;
        width: 50px;
        height: 50px;
        font-size: 2em;
        line-height: 50px;
        text-align: center;
        color: rgb(65, 65, 65);
        margin: 0 auto;
        position: relative;
        top: -25px;
        background: white;
    }

    p a {
        font-size: 1.5em;
        color: $primary;
    }
}
