// Reset defaults
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: black;
    }
}

:focus{
    outline: none;
}

body{
    overflow-x: hidden;
}

// variables
$primary: #7db660;

// importing font
@font-face {
    font-family: Rubik;
    src: url("./../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: Myriad;
    src: url("./../fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF");
}

header {
    height: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);

    .logo {
        margin-left: 50px;
        img {
            height: 50px;
        }
    }

    nav {
        margin-left: auto;
        margin-right: 80px;
        font-family: Myriad;
        font-size: 1em;
        ul {
            list-style: none;
            display: flex;
            line-height: 50px;
            li {
                margin-left: 40px;
                &.rsvp a {
                    background: $primary;
                    padding: 8px 20px;
                    border-radius: 5px;
                    color: white !important;
                    padding-top: 10px;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.scrollmagic-pin-spacer{
    z-index: -4;
}

.backgroud {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
    opacity: 0.1;
    transform: scale(1.1);
}



.main-content {
    padding-top: 150px;
    height: 100vh;
    z-index: 1px;

    div {
        width: fit-content;
        margin: 0 auto;
    }

    .button {
        border: 2px solid white;
        margin-top: 20px;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: Myriad;
        text-decoration: none;
        color: white;
        font-size: 1.2em;

        &:hover {
            background: rgb(125, 182, 96);
            background: radial-gradient(circle, rgba(125, 182, 96, 1) 0%, rgba(121, 171, 95, 1) 100%);
            border: 2px solid $primary;
        }
    }
}


section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 2.5em;
    }
    
    p{
        margin-left: 300px;
        margin-right: 300px;
        text-align: center;
        font-size: 1.5em;
    }
}

section.greet{
    opacity: 1;

}

section.about{
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.11248249299719892) 78%);
    img{
        position: absolute;
        bottom: 0px;
        opacity: 0;
        width: 300px;
        height: 400px;

        &.left-image{
            left: 0px;
            transform: translateX(-200px);
        }

        &.right-image{
            right: 0px;
            transform: translateX(200px);
        }
    }
}

section.party{
    background: #fafafa;

    .slider{
        margin-top: 100px;
        .slide{
            text-align: center;
            position: relative;
            z-index: 0;

            h3{
                padding: 10px;
            }
            
            p{
                margin: 0 auto;
                font-size: 1em;
            }
        }
    }

    .owl-nav{
        z-index: 1;
        font-size: 2.5em;
        color: white;
        button{
            position: absolute;
            top: 50%;
            text-shadow: 2px 1px 15px rgba(0,0,0,.2);
        }
        .owl-prev{
            left: 10px;
        }
        .owl-next{
            right: 10px;
        }
    }
}


section.instagram{
    border-bottom: 1px solid rgb(226, 225, 225);
    .insta-image{
        margin-top: auto;
        height: 400px;
        width: 350px;
    }
}

section.venue{

    margin: auto 220px;

    .schedule{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        
        .box{

            display: grid;
            grid-template-columns: 100px auto;

            .icon{
                border: 1px solid black;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 40px;
                }
                i{
                    font-size: 2em;
                }
            }
            .content{
                
                h3{
                    font-size: 1.8em;
                    margin-bottom: 12px;
                }

                p{
                    text-align: left;
                    margin: 0px;
                }
            }
        }
    }
}


section.registry{
    display: grid;
    grid-template-columns: 40% auto;
    width: 100%;
    justify-content: normal;
    align-items: normal;

    .left-section{
        padding-top: 200px;
        padding-left: 100px;
        p{
            margin: 0px;
            text-align: left;
        }
    }

    .right-section{
        text-align: right;
        img{
            width: fit-content;
        }
    }
}