* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: black;
}

:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -7px;
  width: 28px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #858484;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 23px;
  height: 23px;
  background: #7db660;
  position: absolute;
  top: -2.5px;
  left: -3.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rsvp-modal {
  background: transparent;
  z-index: 999999;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.109);
  display: none;
}

.rsvp-modal .modal {
  background: white;
  margin: 0 auto;
  width: 700px;
  max-height: 100vh;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.rsvp-modal .modal .heading {
  height: 70px;
  background: white;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-size: 1.6em;
  font-family: Myriad;
  font-weight: 600;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.rsvp-modal .modal .heading .close-btn {
  font-size: 1.2em;
  color: #b3b2b2;
  cursor: pointer;
}

.rsvp-modal .modal .content {
  background: #f9f9f9;
  padding: 40px;
}

.rsvp-modal .modal .content h3 {
  font-size: 1.9em;
  color: #7db660;
  font-family: Myriad;
}

.rsvp-modal .modal .content > form > div {
  margin: 30px 0;
}

.rsvp-modal .modal .content .form-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-family: Myriad;
  grid-gap: 25px;
}

.rsvp-modal .modal .content .form-row textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 600;
  color: dimgray;
  height: 100px;
}

.rsvp-modal .modal .content .form-row textarea:-ms-input-placeholder, .rsvp-modal .modal .content .form-row textarea:-ms-input-placeholder, .rsvp-modal .modal .content .form-row textarea::-ms-input-placeholder {
  font-size: 1em;
  padding: 5px;
  color: #838282;
  font-weight: 200;
}

.rsvp-modal .modal .content .form-row textarea::-ms-input-placeholder, .rsvp-modal .modal .content .form-row textarea:-ms-input-placeholder, .rsvp-modal .modal .content .form-row textarea::-ms-input-placeholder {
  font-size: 1em;
  padding: 5px;
  color: #838282;
  font-weight: 200;
}

.rsvp-modal .modal .content .form-row textarea::placeholder, .rsvp-modal .modal .content .form-row textarea:-ms-input-placeholder, .rsvp-modal .modal .content .form-row textarea::-ms-input-placeholder {
  font-size: 1em;
  padding: 5px;
  color: #838282;
  font-weight: 200;
}

.rsvp-modal .modal .content .form-row select {
  background: white;
  border: 1px solid #a7a7a7;
  font-size: 1em;
  color: dimgray;
  padding: 5px;
}

.rsvp-modal .modal .content .form-row a {
  font-size: 0.8em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rsvp-modal .modal .content .form-row a:hover {
  color: #7db660;
}

.rsvp-modal .modal .content .radio-input {
  margin-left: 6px;
}

.rsvp-modal .modal .content .input {
  background: white;
  display: -ms-grid;
  display: grid;
  border: 1px solid #a7a7a7;
  padding: 1px;
}

.rsvp-modal .modal .content .input label {
  font-size: 0.8em;
  padding: 5px;
  color: #838282;
  padding-bottom: 2px;
}

.rsvp-modal .modal .content .input input {
  padding: 5px;
  padding-top: 0px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  color: dimgray;
  width: 100%;
}

.rsvp-modal .modal .content .bottom-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rsvp-modal .modal .content .bottom-buttons .button {
  width: 200px;
  margin: 1px;
  padding: 13px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

.rsvp-modal .modal .content .bottom-buttons .button.button-close {
  background: none;
  border: 1px solid black;
}

.rsvp-modal .modal .content .bottom-buttons .button.button-close:hover {
  color: #7db660;
  border: 1px solid #7db660;
}

.rsvp-modal .modal .content .bottom-buttons .button.button-submit {
  background: #7db660;
  background: radial-gradient(circle, #7db660 0%, #79ab5f 100%);
  color: white;
  border: 1px solid #7db660;
}

.rsvp-modal .modal .content .bottom-buttons .button.button-submit:hover {
  background: radial-gradient(circle, #6a9953 0%, #6c9556 100%);
}

.rsvp-modal .modal .content .ps {
  color: #67954f;
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@font-face {
  font-family: Rubik;
  src: url("./../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: Myriad;
  src: url("./../fonts/myriad-pro-cufonfonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: Alex;
  src: url("./../fonts/Alex_Brush/AlexBrush-Regular.ttf");
}

header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw;
  z-index: 5;
}

header .logo {
  margin-left: 50px;
}

header .logo img {
  height: 50px;
}

header nav {
  margin-left: auto;
  margin-right: 80px;
  font-family: Myriad;
  font-size: 1em;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
}

header nav ul li {
  margin-left: 40px;
}

header nav ul li.rsvp a {
  background: #7db660;
  padding: 8px 20px;
  border-radius: 5px;
  color: white !important;
  padding-top: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

.scrollmagic-pin-spacer {
  z-index: -4;
}

.backgroud {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -5;
  opacity: 0.1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-content {
  padding-top: 150px;
  height: 100vh;
  z-index: 1px;
}

.main-content div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.main-content .button {
  border: 2px solid white;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-family: Myriad;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.main-content .button:hover {
  background: #7db660;
  background: radial-gradient(circle, #7db660 0%, #79ab5f 100%);
  border: 2px solid #7db660;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #535353;
  -webkit-font-smoothing: antialiased;
}

section small {
  margin: 20px auto;
  border-bottom: 2px solid #858383;
  font-size: 0.9em;
  font-family: Myriad;
  padding-bottom: 2px;
}

section h2 {
  font-size: 3.6em;
  font-family: Alex;
  font-weight: 200;
  text-align: center;
}

section p {
  margin-top: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.62em;
  font-family: Myriad;
  font-weight: 200;
}

section p strong {
  font-weight: 700;
}

section.greet {
  opacity: 1;
  margin-left: 350px;
  margin-right: 350px;
}

section.about {
  position: relative;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(78%, rgba(255, 255, 255, 0.112482)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.112482) 78%);
}

section.about p {
  margin-left: 350px;
  margin-right: 350px;
}

section.about img {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 300px;
  height: 400px;
}

section.about img.left-image {
  left: 0px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

section.about img.right-image {
  right: 0px;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

section.about p {
  line-height: 1.4;
}

section.party {
  background: #fafafa;
  margin-top: 80px;
}

section.party .slider {
  margin-top: 60px;
}

section.party .slider .slide {
  text-align: center;
  position: relative;
  z-index: 0;
  font-family: Myriad;
  color: black;
}

section.party .slider .slide h3 {
  padding: 5px;
}

section.party .slider .slide p {
  margin: 0 auto;
  font-size: 1em;
}

section.party .owl-nav {
  z-index: 1;
  font-size: 2.5em;
  color: white;
}

section.party .owl-nav button {
  position: absolute;
  top: 50%;
  text-shadow: 2px 1px 15px rgba(0, 0, 0, 0.2);
}

section.party .owl-nav .owl-prev {
  left: 10px;
}

section.party .owl-nav .owl-next {
  right: 10px;
}

section.instagram {
  margin-top: 100px;
  border-bottom: 1px solid #e2e1e1;
  width: 100%;
}

section.instagram .insta-image {
  position: relative;
  right: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 350px;
}

section.venue {
  margin: 100px 220px;
}

section.venue .schedule {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

section.venue .schedule .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
}

section.venue .schedule .box .icon {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.venue .schedule .box .icon img {
  width: 40px;
}

section.venue .schedule .box .icon i {
  color: black;
  font-size: 2em;
}

section.venue .schedule .box .content h3 {
  font-family: Myriad;
  font-size: 1.8em;
  margin-bottom: 12px;
}

section.venue .schedule .box .content p {
  text-align: left;
  margin: 0px;
  font-size: 1.5em;
}

section.registry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  width: 100%;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin: 0px;
  padding-top: 100px;
}

section.registry h2 {
  margin: 10px auto;
}

section.registry .left-section {
  padding-top: 200px;
  padding-left: 100px;
}

section.registry .left-section p {
  margin: 0px;
  text-align: left;
}

section.registry .right-section {
  text-align: right;
}

section.registry .right-section img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.rsvp .content {
  text-align: center;
}

section.rsvp .content h2 {
  margin: 20px auto;
}

section.rsvp .button {
  border: 1px solid black;
  width: 180px;
  height: 40px;
  font-size: 1.3em;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.rsvp .button:hover {
  border: 1px solid #7db660;
  color: #7db660;
}

section.rsvp .button.active {
  border: 1px solid #7db660;
  background-color: #7db660;
  color: white;
}

section.gallery {
  width: 100%;
  margin: 0px;
}

section.gallery .slider .slide {
  text-align: center;
  position: relative;
  z-index: 0;
}

section.gallery .slider .slide img {
  height: 600px;
}

section.gallery .owl-nav {
  z-index: 1;
  font-size: 2.5em;
  color: white;
}

section.gallery .owl-nav button {
  position: absolute;
  top: 50%;
  text-shadow: 2px 1px 15px rgba(0, 0, 0, 0.2);
}

section.gallery .owl-nav .owl-prev {
  left: 10px;
}

section.gallery .owl-nav .owl-next {
  right: 10px;
}

section.comments {
  margin: auto 200px;
}

section.comments h3 {
  font-size: 1.5em;
}

footer {
  border-top: 1px solid #e0e0e0;
  position: relative;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

footer a .icon {
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 2em;
  line-height: 50px;
  text-align: center;
  color: #414141;
  margin: 0 auto;
  position: relative;
  top: -25px;
  background: white;
}

footer p a {
  font-size: 1.5em;
  color: #7db660;
}

@media (max-width: 1000px) {
  .backgroud {
    width: 100%;
  }
  * {
    overflow-x: hidden;
  }
  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section.greet {
    margin: 5px;
    height: 100vh;
  }
  section.about p {
    margin: 5px;
  }
  section.about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  section.about img {
    position: static;
  }
  section.instagram img {
    margin-top: 20px;
  }
  section.venue {
    margin: 5px;
  }
  section.venue .schedule {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (4)[1fr];
        grid-template-rows: repeat(1fr, 4);
  }
  section.comments {
    margin: auto 5px;
  }
  section.registry {
    display: block;
  }
  section.registry .left-section {
    margin: 50px auto;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
  }
  section.registry .left-section p {
    margin: 0px;
    text-align: left;
  }
  section.registry img {
    margin: 0 auto;
    width: 90vw !important;
  }
  section.rsvp {
    height: 100vh;
  }
  section.gallery {
    margin-top: 20px;
  }
  footer {
    z-index: 100;
  }
}
/*# sourceMappingURL=main.css.map */